<div>
  <h3>Day 1</h3>
  <table>
    <tr> <td>09:30 - Programming in R</td> </tr>
    <tr> <td>10:30 - Morning tea</td> </tr>
    <tr> <td>12:30 - Lunch break</td> </tr>
  </table>
</div>

<div>
  <h3>Day 2</h3>
  <table>
    <tr> <td>09:30 - Automating tasks with the Unix shell</td> </tr>
    <tr> <td>10:30 - Morning tea</td> </tr>
    <tr> <td>12:30 - Lunch break</td> </tr>
  </table>
</div>

<div>
  <h3>Day 3</h3>
  <table>
    <tr> <td>09:00 - Version control with Git</td> </tr>
    <tr> <td>10:30 - Morning tea</td> </tr>
    <tr> <td>12:30 - Lunch break</td> </tr>
  </table>
</div>
